/*
.animate.ng-enter,
.animate.ng-leave {
    position: absolute;
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 4, 0);
    transform: translate3d(-100%, 4, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 2, 0);
    transform: translate3d(100%, 2, 0);
  }
}

.animate.ng-enter {
  animation: fadeInLeft .7s ease both;
}
.animate.ng-leave {
   animation: fadeOutRight .7s ease both;
}
*/



