<div class='row divBG' ng-controller='meatCtrl as meat'>
    <div class='row info' >
<img src="src/img/meat.jpg" class="dishFoto img-rounded"/>
        <div class='textInfo'>
            <h2>Meat</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deleniti facilis id labore qui quos reprehenderit repudiandae sapiente totam voluptatibus. Ab ad delectus deserunt fugit illo quam qui saepe totam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deleniti facilis id labore qui quos reprehenderit repudiandae sapiente totam voluptatibus. Ab ad delectus deserunt fugit illo quam qui saepe totam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deleniti facilis id labore qui quos reprehenderit repudiandae sapiente totam voluptatibus. Ab ad delectus deserunt fugit illo quam qui saepe totam.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
    
    <div  class="row receipt" ng-repeat="val in meat.book ">
<!--        | orderBy:'date'-->
        <div class="col-md-3 column" id="firstColumn">
           <div class='row firstCol'>
            <p class="name">{{val.name}}</p>
            <p class="dateCreate">{{val.date| date }} </p>
               </div>
            <div class='row'>
                <div class='col-md-6'>
                <button type="button" class="btn btn-block" id="edit" ng-click="meat.editDiv($index)"><strong>Edit</strong></button>
                </div>
                <div class='col-md-6'>
                <button type="button" class="btn btn-block" id="delete" ng-click="meat.delDiv($index)"><strong>Delete</strong></button>
                </div>
            
            </div>
        </div>

        <div class="col-md-8 column" id="secondColumn">
            <div class="description">{{val.description}} </div>
        </div>

        <div class="col-md-1 column" id="thirdColumn">  </div>
    </div>
    
    <div class="row text-right">
        <button type="button" class="btn btn-success" ng-click="meat.addEdit()"><strong>Add</strong></button>
    </div>

    <div class="{{meat.hide}}" id="addEdit" >
        <div class="row text-center">
            <div class="col-md-4">
                <input type="text" id='newName' placeholder="Enter name" />
            </div>
            <div class="col-md-8">
                <textarea id='newDescription' placeholder="Enter description"></textarea>
            </div>
        </div>
        <div class="row text-center">
            <button type="button" class="btn btn-info" ng-click="meat.saveDiv()" ng-click="show = !show"><strong>Save as new</strong></button>
            <button type="button" class="btn btn-info" ng-click="meat.saveEdit($index)" ng-click="show = !show"><strong>Save as edit</strong></button>
            <button type="button" class="btn btn-warning"  ng-click="meat.close()"><strong>Close</strong></button>
        </div>
    </div>
       
</div>